.footer {
  position: fixed;
  margin-top: 0px; /* negative value of footer height */
  margin-bottom: 0px;
  clear:both;
  bottom: 0;
  background-color: #ed145a;
  width: 100%;
} 

html, body {
  background-image: url("img/home-bg.jpg");
  background-repeat:no-repeat;
  background-position:top center;
  background-size: 120%;
}

.btn-primary {
  background: #ed145a;
  color: #ffffff;
}

.btn-success{
	background: #ed145a;
  color: #ffffff;
}

.btn {
  padding: 14px;
  font-weight: 700;
  font-size: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-style: solid;
  border-radius: 0px;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
  width: 100%;
  height: auto;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
  background: #ed145a;
  border-style: solid;
  border-radius: 0px;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
}

.login-background{
	width: 100%;
	height:auto;
	background-color: #ed145a;
  padding-bottom: 0%;
}

h3{
	color:#ffffff;

}
a{
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	width: 100%;
	height: auto;
}
a:visited { 
    color: #ffffff;
    text-decoration: none;
    
}
.divText{

	width: 100%;
	margin: auto;
	margin-top: 3px;
	display: inline-flex;
}

.divText .form-control{
	width: 66%;
	margin: auto;
}
.img-valida-form{
	max-width: 9%; 
	margin: auto;
	height: auto;
	position: absolute;
	left: 73%;
}

#section .splash {

} 

.logo-main {
	display: block;
	margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
  padding-left: 12%;
  padding-right: 12%; 
}
